@charset "UTF-8";
/* CSS Document */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg);
    background-repeat: repeat; /* Background image will tile horizontally and vertically */
}

div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3f/Fronalpstock_big.jpg);
    background-repeat: repeat; /* Background image will tile horizontally and vertically */
    opacity: 0.5;
}
