@charset "UTF-8";
/* CSS Document */

/* Change the background colour of the whole page */
body {
  background-color: lightblue;
}

/* Style the main heading */
h1 {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the paragraph */
p {
  color: darkred;
  font-family: Georgia, serif;
  font-size: 18px;
}
